<header class="header">
	<a href="/" class="logo">
		<img src="img/logo.png" alt="logo">			
	</a>
	<nav class="navigation">
		 <ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/menu">Меню</a></li>
			<li><a href="/booking">Забронировать столик</a></li>
			<li><a href="/about">О нас</a></li>
		 </ul>
	</nav>
</header>
<div class="header-buffer"></div>