<!DOCTYPE html>
<html>
  <head>
    <title>Кабачок "У Солодушкина"</title>
    <link rel="shortcut icon" href="img/icon.png" type="image/png">
    <link rel='stylesheet' href='/stylesheets/about.css'/>
  </head>
  <body>
  	{{> header}}
    {{{body}}}
  </body>
</html>
