<div class="background-img">
	<img src="img/booking.jpg" alt="background image">
</div>

<main class="main">
	<div class="container">
		<div class="owner">
			<p>Владелец кабачка:</p>
			<p>Святослав Солодушкин</p>
			<div class="link">
				<img src="img/vk.png">
				<a href="https://vk.com/solodushkin_si">vk.com/solodushkin_si</a>
			</div>
		</div>
		<div class="author">
			<p>Автор сайта:</p>
			<p>Никита Есюнин</p>
			<div class="link">
				<img src="img/vk.png">
				<a href="https://vk.com/hikitayess">vk.com/hikitayess</a>
			</div>
		</div>
	</div>
</main>