<main class="main">
	<div class="wrap-text">
		<p>Лучший кабачок в своем роде!</p>
		<p>Уникальное заведение города Екатеринбурга</p>
		<p>Разнообразные блюда на любой вкус</p>
		<p>Забронируй столик прямо сейчас</p>
		<p>и убедись в этом сам!</p>	
	</div>
</main>
<div class="background-img">
	<img src="img/background.jpg" alt="background image">
</div>