<!DOCTYPE html>
<html>
<head>
	<title>Кабачок "У Солодушкина"</title>
	<link rel="shortcut icon" href="img/icon.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header class="header">
		<a href="" class="logo">
			<img src="img/logo.png" alt="logo">			
		</a>
		<nav class="navigation">
			 <ul>
				<li><a href="/">Главная</a></li>
				<li><a href="/menu">Меню</a></li>
				<li><a href="/booking">Забронировать столик</a></li>
				<li><a href="/about">О нас</a></li>
			 </ul>
		</nav>
	</header>
	<div class="header-buffer"></div>
	<div class="background-img">
		<img src="img/background.jpg" alt="background image">
	</div>

	<main class="main">
		<div class="wrap-text">
			<p>Лучший кабачок в своем роде!</p>
			<p>Уникальное заведение города Екатеринбурга</p>
			<p>Разнообразные блюда на любой вкус</p>
			<p>Забронируй столик прямо сейчас</p>
			<p>и убедись в этом сам!</p>	
		</div>
	</main>
</body>
</html>