<main class="main">
	<ul class="foods">
		<li class="food">
			<img src="img/1.jpg" alt="Стейк Нью-Йорк">
			<div class="info">
				<h1 class="name">Стейк Нью-Йорк</h1>
				<h2 class="description">Стейк из филе тонкого края</h2>
				<div class="wrap">
					<span class="gramm">300г</span>
					<span class="price">580р</span>
				</div>	
			</div>				
		</li>
		<li class="food">
			<img src="img/2.jpg" alt="Стейк Рибай">
			<div class="info">
				<h1 class="name">Стейк Рибай</h1>
				<h2 class="description">Стейк из толстого края бычка</h2>
				<div class="wrap">
					<span class="gramm">350г</span>
					<span class="price">790р</span>
				</div>	
			</div>
		</li>
		<li class="food">
			<img src="img/9.jpg" alt="Стейк Тибон">
			<div class="info">
				<h1 class="name">Стейк Тибон</h1>
				<h2 class="description">Стейк на Т-образной кости</h2>
				<div class="wrap">
					<span class="gramm">550г</span>
					<span class="price">1480р</span>
				</div>	
			</div>	
		</li>
		<li class="food">
			<img src="img/6.jpg" alt="Вырезка ягненка гриль">
			<div class="info">
				<h1 class="name">Вырезка ягненка гриль</h1>
				<h2 class="description">Нежное, диетическое мясо</h2>
				<div class="wrap">
					<span class="gramm">250г</span>
					<span class="price">790р</span>
				</div>	
			</div>	
		</li>
		<li class="food">
			<img src="img/7.jpg" alt="Стейк Фирменный Перечный">
			<div class="info">
				<h1 class="name">Стейк Фирменный Перечный</h1>
				<h2 class="description">Стейк из толстого края бычка в 5 видах перца</h2>
				<div class="wrap">
					<span class="gramm">350г</span>
					<span class="price">1650р</span>
				</div>	
			</div>				
		</li>
		<li class="food">
			<img src="img/5.jpg" alt="Белый стейк из мяса индейки">
			<div class="info">
				<h1 class="name">Белый стейк из мяса индейки</h1>
				<h2 class="description">Филе индейки, маринованное в свежевыжатом апельсиновом соке</h2>
				<div class="wrap">
					<span class="gramm">250г</span>
					<span class="price">420р</span>
				</div>	
			</div>				
		</li>
		<li class="food">
			<img src="img/4.jpg" alt="Стейк Миньон из мраморной говяжей вырезки">
			<div class="info">
				<h1 class="name">Стейк Миньон из мраморной говяжей вырезки</h1>
				<h2 class="description">Стейк из центральной части говяжьей вырезки</h2>
				<div class="wrap">
					<span class="gramm">250г</span>
					<span class="price">1030р</span>
				</div>	
			</div>				
		</li>
		<li class="food">
			<img src="img/8.jpg" alt="Стейк Шатобриан">
			<div class="info">
				<h1 class="name">Стейк Шатобриан</h1>
				<h2 class="description">Стейк из толстой центральной части говяжьей вырезки</h2>
				<div class="wrap">
					<span class="gramm">550г</span>
					<span class="price">1950р</span>
				</div>	
			</div>				
		</li>
	</ul>
</main>